@using Shared

<label for="meal-name" > Meal name: </label> <br/>
<input id="meal-name" type="text" /> <br/> <br/>

<label> Meal type: </label> <br/>
@foreach (var mealType in MealTypes!)
{
    <input name="meal-type" id="@mealType" type="radio" @onchange="() => mealFormData.MealType = mealType"> <label for="@mealType"> @mealType </label> <br/>
}
<br/>

<label> Allergens: </label> <br/>
@foreach (var allergenSelection in mealFormData.AllergenSelections!)
{
    <input id="@allergenSelection.Name" type="checkbox" @bind="allergenSelection.IsSelected" /> <label for="@allergenSelection.Name"> @allergenSelection.Name </label> <br/>
}

<button type="submit" class="btn btn-primary"> Add meal </button>

<p> Selected meal type: @mealFormData.MealType</p>
<span> Selected allergens: </span>
@foreach (var selected in mealFormData.AllergenSelections!.Where(selection => selection.IsSelected))
{
    <span> @selected.Name </span>
}

@code
{
    private MealFormData mealFormData = new();

    [Parameter]
    public IEnumerable<Allergen>? AllAllergens { get; set; }

    [Parameter]
    public IEnumerable<string>? MealTypes { get; set; }

    protected override void OnInitialized()
    {
        mealFormData.AllergenSelections = AllAllergens!.Select(allergen => new MealFormData.AllergenSelection() {Name = allergen.Name}).ToList();
    }
}