@using Shared

<EditForm Model="@mealFormData" OnValidSubmit="OnFormSubmit">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div>
        <label for="meal-name" > Meal name: </label> <br/>
        <InputText id="meal-name" @bind-Value="mealFormData.Name"/> <br/>
        <ValidationMessage For="() => mealFormData.Name" />
        <br/> 
    </div>

    <div>
        <label> Meal type: </label> <br/>
        <InputRadioGroup @bind-Value="mealFormData.MealType">
            @foreach (var mealType in MealTypes!)
            {
                <InputRadio id="@mealType" Value="@mealType" /> <label for="@mealType"> @mealType </label> <br/>
            }
        </InputRadioGroup>
        <ValidationMessage For="() => mealFormData.MealType" />
        <br/>
    </div>

    <div>
        <label> Allergens: </label> <br/>
        @foreach (var allergenSelection in mealFormData.AllergenSelections!)
        {
            <InputCheckbox id="@allergenSelection.Name" type="checkbox" @bind-Value="allergenSelection.IsSelected" /> <label for="@allergenSelection.Name"> @allergenSelection.Name </label> <br/>
        }
        <br/>
    </div>

    <button type="submit" class="btn btn-primary"> Add meal </button>

</EditForm>

@code
{
    private MealFormData mealFormData = new();

    [Parameter]
    public IEnumerable<Allergen>? AllAllergens { get; set; }

    [Parameter]
    public IEnumerable<string>? MealTypes { get; set; }

    // When food is submitted we trigger a function that will get the resulting meal passed to it
    [Parameter]
    public EventCallback<MealFormData> OnFoodSubmit { get; set; }
    
    // Invoke the function to request creation of new meal from our api
    private void OnFormSubmit()
    {
        OnFoodSubmit.InvokeAsync(mealFormData);
        mealFormData = new();
    }

    // Initialize the AllergenSelections of our mealFormData, we need to set the names of each AllergenSelection object to the correct allergen name
    protected override void OnInitialized()
    {
        mealFormData.AllergenSelections = AllAllergens!.Select(allergen => new MealFormData.AllergenSelection() {Name = allergen.Name}).ToList();
    }
}